[Unit]
Description=My Voice Assistant

[Service]
ExecStart=/bin/bash -c '/home/pi/AIY-projects-python/env/bin/python3 -u my_assistant.py'
WorkingDirectory=/home/pi/AIY-projects-python
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
